@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Our Tour Management System allows you to efficiently manage tours, customers, and bookings.
        You can add new tours, update existing ones, manage customer information, and track bookings seamlessly.
        It provides a user-friendly interface for administrators to oversee all aspects of tour operations.
    </p>
</main>