@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Company Name</strong><br />
        123 Tour Management St.<br />
        City, State 12345<br />
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>

    <address>
        <strong>Email Contacts:</strong><br />
        <strong>Support:</strong> <a href="mailto:support@example.com">support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@example.com</a>
    </address>
</main>