@model PassionProjectN01649276.Models.View_Models.CreateBooking
@{
    ViewBag.Title = "Create";
}

<div class="container mt-5">
    <h2>Create a Booking</h2>
    <a class="btn btn-danger my-3" href="/Booking/List">Go back to Bookings list</a>

    <div class="card">
        <div class="card-body">
            <form action="/Booking/Create" method="POST">
                <div class="form-group pb-2">
                    <label for="Status">Status:</label>
                    <input type="text" class="form-control" id="Status" placeholder="Enter the status" name="Status">
                </div>
                <div class="form-group pb-2">
                    <label for="BDate">Booking Date:</label>
                    <input type="text" class="form-control" id="BDate" placeholder="Enter the booking date" name="BookingDate">
                </div>

                <div class="form-group pb-2">
                    <label for="PId">Packages:</label>
                    <select class="form-control" name="BookingId" id="PId">
                        @foreach (var tour in Model.Tours)
                        {
                            <option value="@tour.Tourid">@tour.Tourname</option>
                        }
                    </select>
                </div>
                <div class="form-group pb-2">
                    <label for="CId">Select Customer:</label>
                    <select class="form-control" name="CustomerID" id="CId">
                        @foreach (var customers in Model.Customers)
                        {
                            <option value="@customers.CustomerId">@customers.CustomerName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary mt-2" value="Add Booking" />
                </div>
            </form>
        </div>
    </div>
</div>

