@model PassionProjectN01649276.Models.BookingDto
@{
    ViewBag.Title = "Show";
}

<div class="container mt-5">
    <!-- Link to go back to the bookings list page -->
    <a href="/Booking/List" class="btn btn-secondary my-3">Go back to Bookings list</a>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    <h2 class="card-title"><span class="fw-bold">Booking Id: #@Model.BookingId</span></h2>
                </div>
                <div class="card-body">
                    <p class="card-text"><span class="fw-bold">Booking Date:</span> @Model.Bookingdate</p>
                    <p class="card-text"><span class="fw-bold">Booking Status:</span> @Model.Status</p>
                    <p class="card-text"><span class="fw-bold">Customer Name:</span> @Model.CustomerName</p>
                    <p class="card-text"><span class="fw-bold">Tour Name:</span> @Model.TourName</p>

                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-end">
                            <a href="/Booking/DeleteConfirm/@Model.BookingId" class="btn btn-danger me-2">Delete</a>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <a href="/Booking/Edit/@Model.BookingId" class="btn btn-primary">Update</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>