@model PassionProjectN01649276.Models.TourDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this tour?</h2>

<h6>Name: @Model.Tourname</h6>
<form action="/Tour/Delete/@Model.Tourid" method="POST">
    <input type="submit" value="Confirm Delete" /><a href="/Tour/List">Cancel</a>
</form>

