@model IEnumerable<PassionProjectN01649276.Models.TourDto>
@{
    ViewBag.Title = "List";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Tour List</h2>
            <form method="get" action="/Tour/List">
                <div class="input-group mb-3">
                    <input type="text" name="searchString" class="form-control" value="@ViewBag.search" placeholder="Search by customer name..." />
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            @foreach (var tour in Model)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><a href="/Tour/Show/@tour.Tourid">@tour.Tourname</a></h3>
                        <p class="card-text">Price: $ @tour.Price</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>