@model PassionProjectN01649276.Models.TourDto 
@{
    ViewBag.Title = "Show";
}

<a href="/Tour/List">Go Back to List</a>

<h3>@Model.Tourname</h3>

<div>Description: @Model.Description</div>
<div>Price: $@Model.Price</div>
<div>Location: @Model.Location</div>


